/* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
h1 {
  font-size: 50px;
  color: #082a3a;
}
/**********/
/* HEADER */
/**********/
.navbar {
  width: 100%;
  height: 180px;
  background-color: #006699;
  position: sticky
}
.nav-link {

  color: #e3a72f !important;
  font-size: 30px;

}
.logo-image {
  width: 135px;
  height: 135px;
}
#navbarNavDropdown {
  flex-direction: row-reverse;
}
.dropdown-menu {
  background-color: #006699;
}
.dropdown-item {
  color: #e3a72f !important;
}

/**********/
/* image section */
/**********/

.section-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/**********/
/* project section */
/**********/

.project-image {
  width: 343px;
  height: 445px;
}
.project-title {
  font-size: 39px;
}
/**********/
/* Footer */
/**********/

.page-footer{ 
    background-color: #006699;
    height: 143px;
    font-size: 20px;
  color: #e3a72f !important;
   }
   .social-media{
    width: 30px;
    height: 30px;
   }