h1 {
  font-size: 50px;
  color: #082a3a;
}

.navbar {
  width: 100%;
  height: 143px;
  background-color: #006699;
}
.nav-link {
  color: white !important;
}
.logo-image {
  width: 102px;
  height: 112px;
}
.gfg {
  width: auto;
  text-align: center;
  padding: 20px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
